.imageContainer{
  margin: 0;
  width: 300px;
  height: 600px;
  position: relative;

}

.fullImage{
  width: 100%;
  height: 100%;
  /*position: absolute;*/
}

.legal{
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  width: 20%;
  height: 5%;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: .5;
  color: white;
  background-color: black;
  padding: 2%;
}

.legal:hover{
  width: 100%;
  height: 10%;
}

.firstText{
  color: white;
  position: absolute;
  font-size: 50px;
  top: 60%;
  opacity: 0;
  transition: 1s;
}

.secondText{
  color: white;
  position: absolute;
  font-size: 50px;
  top: 70%;
  opacity: 0;
  transition: 1s;

}
