@font-face {
    font-family: "myriad";
    src: url("AFI_fonts/MyriadPro-Semibold.ttf");
}

@font-face {
    font-family: "helvetica";
    src: url("AFI_fonts/helvetica-cond.ttf");
}

@font-face {
    font-family: "knockout";
    src: url("AFI_fonts/knockout48.ttf");
}

body{
  margin: 0 auto;
}


.imageContainer{
  /*Ad Size*/
  width: 300px;
  height: 600px;

  margin: 10px auto;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  zoom: 1;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.imageContainer.anim{
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.fullImage{
  width: 100%;
  height: 100%;
  position: absolute;
}

.legal{
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  right: 0%;
  opacity: 0;
  zoom: 1;
  filter: alpha(opacity=0);
  color: white;
  background-color: black;
  padding: 1%;
  font-family: "helvetica", Arial, sans-serif;

  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.legal.anim{
  zoom: 1;
  opacity: .5;
  filter: alpha(opacity=50);
}

.legalText{
  /*Changes on ad size*/
  height: 10%;

  font-family: "helvetica", Arial, sans-serif;
  box-sizing: border-box;
  text-align: center;
  font-size: 8px;
  width: 100%;
  position: absolute;
  color: white;
  background-color: black;
  padding: 5%;

  zoom: 1;
  opacity: .5;
  filter: alpha(opacity=50);

  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s

}
.legalText.anim{
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.topText{
  /*Changes on ad size*/
  top: 65%;
  font-size: 30px;
  margin: 0 0 0 5%;

  font-family: "myriad", Arial, sans-serif;
  color: white;
  position: absolute;

  -webkit-transition: 1s;
  transition: 1s;
}

.bottomText{
  /*Changes on ad size*/
  font-size: 60px;
  line-height: 65px;
  top: 71%;
  margin: 0 0 0 5%;

  color: white;
  position: absolute;
  font-family: "knockout", Arial, sans-serif;
  letter-spacing: .8px;

  zoom: 1;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: 1s;
  transition: 1s;
}

.topText1{
  left: -100%;
}
.topText1.anim{
  left: 0%;
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.bottomText1{
  left: -100%;
}
.bottomText1.anim{
  left: 0%;
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.topText2{
  left: -100%;
}
.topText2.anim{
  left: 0%;
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.bottomText2{
  left: -100%;
}
.bottomText2.anim{
  left: 0%;
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.learnMoreButton{
  /*Changes on ad size*/
  width: 100px;
  bottom: 1%;

  position: absolute;
  height: auto;
  right: 0%;

  zoom: 1;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: 1s;
  transition: 1s;
}
.learnMoreButton.anim{
  opacity: 1;
  zoom: 1;
  filter: alpha(opacity=100);
  right: 8%;
}
.learnMoreButton.switch{
  zoom: 1;
  opacity: 0;
  filter: alpha(opacity=0);
}

.learnMoreButtonHover{
  /*Changes on ad size*/
  width: 100px;
  bottom: 1%;
  right: 8%;

  position: absolute;
  height: auto;

  zoom: 1;
  opacity: 0;
  filter: alpha(opacity=0);

  -webkit-transition: 1s;
  transition: 1s;
}
.learnMoreButtonHover.switch{
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
